.citrus_hound_gatos_carousel{
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
}


.citrus_hound_gatos_carousel-inner{
    display: flex;
    transition: all ease .5s;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-end !important;
}

.citrus_hound_gatos_carousel-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}



.citrus_hound_gatos_carousel-item .custom-container{
    justify-content: space-between;
}

.citrus_hound_gatos_carousel-inner .pov1{
    background-image: url("img/citrus-hound-gatos-pov1-bg-dsk.jpg");
}
.citrus_hound_gatos_carousel-inner .pov2{
    background-image: url("img/citrus-hound-gatos-pov2-bg-dsk.jpg");
}

.citrus_hound_gatos_carousel-item__col:nth-child(1){
    width: 30%;
}
.citrus_hound_gatos_carousel-item__col:nth-child(2){
    width: 40%;
    padding: 0;
}
.citrus_hound_gatos_carousel-item__col:nth-child(3){
    width: 30%;
}



.citrus_hound_gatos_carousel-item__col .item-logo-wrapper{
    align-items: center;
    justify-content: center;
}

.citrus_hound_gatos_carousel-item__col .item-logo-wrapper img{
    max-width: 200px;
}

.citrus_hound_gatos_carousel-item__col .item-logo-wrapper img:nth-child(2){
    max-width: 90px;
}

.citrus_hound_gatos_carousel-item__col .item-text-wrapper{
    padding: 20px 0;
    text-align: center;
}

.citrus_hound_gatos_carousel-item__col .item-text-wrapper h1{
    color: #fff;
    font-size: 35px;
}

.citrus_hound_gatos_carousel-item__col .item-text-wrapper p{
    color: #fff;
    font-size: 16px;
    padding: 20px 0;
}

.citrus_hound_gatos_carousel-inner .pov2 .item-text-wrapper h1,
.citrus_hound_gatos_carousel-inner .pov2 .item-text-wrapper p{
    color: #00205B;
}

.citrus_hound_gatos_carousel-item__col .item-text-wrapper .cta-box{
    justify-content: center;
}

.citrus_hound_gatos_carousel-inner .pov1 .cta-box a{
    background: #fff;
    color: #001952;
}

.citrus_hound_gatos_carousel-controls .prev{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('prev.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.citrus_hound_gatos_carousel-controls .next{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('next.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.prev:hover, .next:hover{
    opacity: 1;
}

.citrus_hound_gatos_carousel-indicators{
    position: absolute;
    bottom: 0;
    left: calc(100% / 2 - 38px);
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 5px;
}

.citrus_hound_gatos_carousel-indicators span{
    display: inline-block;
    border: 2px solid #09205c;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.citrus_hound_gatos_carousel-indicators span.active{
    background-color: #09205c;
}