/* POV sections */
.citrus_vetdiet_carousel{
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    .citrus_vetdiet_carousel-inner{
        display: flex;
        transition: all ease .5s;
        width: 100%;
        overflow: hidden;
        justify-content: space-between;
        align-items: flex-start !important;
        // min-height: 315px;
        .citrus_vetdiet_carousel-item{
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            .citrus_vetdiet_carousel-item__col{
                &:nth-child(1){
                    width: 30%;
                }
                &:nth-child(2){
                    width: 40%;
                }
                &:nth-child(3){
                    width: 30%;
                }
            }
            .citrus_vetdiet__pov--text{
                width: 100%;
                text-align: center;
                h1{
                    font-size: 34px;
                    color: #fff;
                    padding: 15px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 36px;
                    max-width: 620px;
                    margin: 0 auto;
                }
                p{
                    font-size: 16px;
                    color: #fff;
                    padding-bottom: 20px;
                }
            }
            .custom-container{
                justify-content: space-between;
            }
        }
        .pov2{
            .citrus_vetdiet__pov--text{
                h1{
                    color: #000000;
                }
                p{
                    font-size: 16px;
                    color: #000000;
                    padding-bottom: 20px;
                } 
            }
            .citrus_vetdiet__pov--cta{
                a{
                    background: #001952 !important;
                    color: #fff !important;
                }
            }
        }
    }
}

.citrus_vetdiet__pov--cta {
    display: flex !important;
    align-items: center;
    justify-content: center !important;
}

.citrus_vetdiet__pov--cta a{
    background: #fff !important;
    color: #001952 !important;
    border: 1px solid #fff !important;
    max-width: 150px;
    margin: 0 15px;
}

.citrus_vetdiet__pov--cta a:hover{
    background: #001952 !important;
    color: #fff !important;
    border: 1px solid #001952 !important;
}

.citrus_vetdiet__pov--logo{
    max-width: 130px;
    margin: 0 auto !important;
    padding-bottom: 15px;
}

.citrus_vetdiet__pov--shots{
    max-width: 500px;
}

.citrus_vetdiet_carousel-inner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .pov1{
        background: #000;
    }
    .pov2{
        background-image: url("img/citrus_vetdiet_pov2_bg_dsk.jpg");
        .custom-container{
            min-width: 100%;
        }
    }
    .pov3{
        background-image: url("img/citrus_vetdiet_pov3_bg_dsk.jpg");
        .custom-container{
            min-width: 100%;
        }
    }
}

.citrus_vetdiet_carousel-controls .prev{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('prev.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.citrus_vetdiet_carousel-controls .next{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('next.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.prev:hover, .next:hover{
    opacity: 1;
}

.citrus_vetdiet_carousel-indicators{
    position: absolute;
    bottom: 0;
    left: calc(100% / 2 - 52px);
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 5px !important;
}

.citrus_vetdiet_carousel-indicators span{
    display: inline-block;
    border: 2px solid #09205c;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.citrus_vetdiet_carousel-indicators span.active{
    background-color: #09205c;
}